.col-md-12.row.grid#list
  = render partial: 'post', collection: @posts || t('errors.no_posts') 
.col-md-1#new-post  
  = link_to t('buttons.posts.create'), new_post_path, class: 'btn btn-success'
     
