.col-md-12.row.grid#list
  = render partial: 'post', collection: @posts || "There are no posts available." 
.col-md-1#new-post  
  = link_to t('buttons.posts.create'), new_post_path, class: "btn btn-success"
     
