.image {
   position: relative;
   width: 100%;
}

h5#image {
   position: absolute;
   top: 10px;
   left: 0;
   width: 100%;
}

h5#image span {
   color:  #515151;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(238,	238,	224);
   background: rgba(238,	238,	224, 0.7);
   padding: 10px;
   padding-top: 8px;
   margin-left: 5px;
}

.preview {
  margin-left: 15px;
}
