*, *:before, *:after {box-sizing:  border-box !important;}

.grid-item {
  float: left;
   width: 50%;
  height: 100%;
}

.col-md-6#list {
    display: inline-block;
    padding-top: 3rem;
    width:100%;
}
.col-md-1#like-button {
  padding-top: 10px;
  padding-left: 0;
}

.col-md-12#new-post {
  padding-top: 20px;
}
