<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Users</h3>
    </div>
    <div >
        <%= yield %>
    </div>
   </div>
</body>
</html>
